table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.grid {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 170px 300px;
    grid-auto-flow: row;
}

